@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    font-size: 62.5%; 
}

body {
    margin: 1rem;
    font-size: 1.6rem; 
    
}

h1,
h2,
h3,
h4,
h5,
h6,
b {
    /*font-family: sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}

h4 {
    font-weight: normal;
}

p,
figcaption,
li {
    /*font-family: serif;*/
    font-family: 'PT Serif', serif;
    font-style: italic;
}

