html {
    font-size: 62.5%; /*10 px under normal conditions*/
}

body {
    font-size: 1.6rem; 
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5rem; 
    
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: rgb(1, 23, 87);
}

img {
    width: 100%;
    margin-bottom: 1rem;
}
