html {
    font-size: 62.5%; /*10 px under normal conditions*/
}

body {
    font-size: 1.6rem; 
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5rem; 
    
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: rgb(1, 23, 87);
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    justify-content: space-evenly;

}

.box {
    margin: 1rem;
    
    width: 40%;
    height: auto;
    object-fit: cover;
    
}

img {
    width: 100%;
    height: auto;
    
}


@media screen and (min-width:768px) {
    .box{
        
        width: 30%;

    }
}

@media screen and (min-width:1024px) {
    .box{
        
        width: 20%;

    }
}
