/*button {
    background: rgb(94,53,199);
    background: linear-gradient(70deg, rgba(94,53,199,1) 35%, rgba(217,0,244,1) 100%);
}

a {
    text-decoration: none;
}

form {
    border: solid 1rem whitesmoke;
    width: 100%; 
    height: auto;

}

.row#r01{
    background: rgb(94,53,199);
    background: linear-gradient(70deg, rgba(94,53,199,1) 35%, rgba(217,0,244,1) 100%);
    color: white;
    
    padding: 3rem;
}*/


