.responsivenav {
    background-color: black;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    display: flex;
    
}
  
.responsivenav a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;

    padding: 13px 15px;
    font-size: 1.1rem;
}
  
.responsivenav a:hover {
    background-color: whitesmoke;
    color: black;
}
  
.responsivenav a.active {
    background-color: whitesmoke;
    color: black;
}
  
/*hides icon that expands/collapses nav in mobile displays*/
.responsivenav .icon {
    display: none;
}

  
@media screen and (max-width: 768px) {
    .responsivenav a:not(:first-child) {
        display: none;
    }

    .responsivenav a.icon {
      float: right;
      display: block;
    }
    
    .responsivenav a.active {
        background-color: black;
        color: aqua;
    }

    .responsivenav a:hover {
        background-color: black;
        color: aqua;
    }
}
  
  
@media screen and (max-width: 768px) {
    .responsivenav.responsive {
        position: relative;
        flex-direction: column;
    }
        
    .responsivenav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }

    .responsivenav.responsive a {
      display: block;
      text-align: left;
    }
}