html {
    font-size: 62.5%; 
    background: linear-gradient(90deg, rgba(255,30,53,1) 0%, rgba(131,58,180,1) 100%);
}

body {
    margin: 1rem;
    font-size: 1.6rem; 
    
    
}

h1,
h2,
h3,
h4,
h5,
h6,
li {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    
}

h2,
h3 {
    background-color:rgb(255, 196, 0);
}

nav {
    padding-top: 2rem;
    padding-left: 1.5rem;
    padding-right: 3rem;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

li {
    margin: 1rem;
    background-color:rgb(255, 196, 0);
    width: 100%;
    text-align: center;
    padding: 1.5rem;
    
}

a {
    color: black;
    text-decoration: none;
    font-weight: 700;
    
}

.container {
    display: flex;   
    flex-direction: row; 
    justify-content: center;
    align-items: center;

    
}

.box-one {
    display: flex;   
    flex-direction: column; 
    justify-content: center;
    align-items: center;

    padding-left: 6rem;
    padding-right: 2rem;

    width: 100%;

    

}

.box-two {
    background-image:url("https://media-cldnry.s-nbcnews.com/image/upload/newscms/2020_12/3275861/200319-uk-pubs-coronavirus-mc-9243.JPG") ;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;

    width: 100%;
    height: 30rem;

}

.box-three{
    background-color: rgb(255, 196, 0);
    margin: 1rem;
    width: 93%;
    height: auto;

    text-align: center;

}

.container-two {
    padding-top: 2rem;
    padding-left: 6rem;
    padding-right: 4rem;

    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
  
.box-four {
    background: white;
    padding: 2rem;
    border: 1px solid white;
    text-align: center;
}

.icon {
    font-size: 5rem;
}

h2#h01 {
    text-align: center;
    background-color:initial;
}

h3#h02 {
    background-color:initial;
}

.container#c01 {
    flex-wrap: wrap;
}

img#i01 {
    width: auto;
}

.container-three {
    background: white;
    display: grid;
    grid-template-columns: 40rem 1fr;
    align-items: center;
}

@media (max-width: 1024px) {
    .about {
      grid-template-columns: 1fr;
    }
  }

/*-----------------------------------------------------------------------------------------------*/

.box {
    margin: 1rem;
    
    width: 40%;
    height: auto;
    object-fit: cover;
    
}

img {
    width: 100%;
    height: auto;
    
}


@media screen and (min-width:768px) {
    .box{
        
        width: 30%;

    }
}

@media screen and (min-width:1024px) {
    .box{
        
        width: 20%;

    }
}

/*-----------------------------------------------------------------*/

.responsivenav {
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    padding-left: 5rem;

    display: flex;
    
}
  
.responsivenav a {
    background-color: rgb(255, 196, 0);
    margin: 1rem;
    
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;

    padding: 13px 40px;
    width: 100%;
    font-size: 1.5rem;
}
  
.responsivenav a:hover {
    background-color: whitesmoke;
    color: black;
}
  
.responsivenav a.active {
    background-color: whitesmoke;
    color: black;
}
  
/*hides icon that expands/collapses nav in mobile displays*/
.responsivenav .icon {
    display: none;
}

  
@media screen and (max-width: 768px) {
    .responsivenav a:not(:first-child) {
        display: none;
    }

    .responsivenav a.icon {
      float: right;
      display: block;
    }
    
    
}
  
  
@media screen and (max-width: 768px) {
    .responsivenav.responsive {
        position: relative;
        flex-direction: column;
    }
        
    .responsivenav.responsive a.icon {
      position:relative;
      right: 0;
      top: 0;
    }

    .responsivenav.responsive a {
      display: block;
      text-align: center;
    }
}