

nav {
    background: rgb(255,30,53);
    background: linear-gradient(90deg, rgba(255,30,53,1) 0%, rgba(131,58,180,1) 100%);
    display: flex; /*extends background color in white line*/
    flex-direction: row;
    
    
}

li {
    padding-left: 3rem;
    

}

ul {
    display: flex;
    flex-direction: row;
    grid-gap: 2rem;
    padding: 0;
    list-style: none;
    
}

a {
    display: block;
    text-decoration: none;
    padding: 2rem;
    text-align: center;
    color: black;
    font-size: 2rem;
    background-color: gold;

}

/*..........................................................*/

.img-2 {
    width: 50%;
    height: auto;
}

.img-3 {
    padding: 1rem;
    width: 35%;
}

.box-2 {
    background-color:gold;
    width: 22%;
    height: 30%;
    margin: 1rem;

    

    text-align: center;
    font-size: 3rem;

}

.box-3 {
    background-color:white;
    width: 20%;
    margin: 1rem;
    
}

.box-4 {
    background-color:white;
    
    margin: 1rem;
}

/*..........................................*/

html {
    font-size: 62.5%; /*10 px in normal conditions*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
}

body {
    font-size: 1.6rem; 
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5rem; /*be careful, if the font size is too big for the line height, the letters will intervene with each other, as good practice use 1.2 or 1.5*/
    
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(1, 23, 87);
}

.container {
    background: rgb(255,30,53);
    background: linear-gradient(90deg, rgba(255,30,53,1) 0%, rgba(131,58,180,1) 100%);


    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    justify-content: center;

    /*border: 5px solid purple;*/
    
}

.box {
    /*background-color: tomato;*/
    margin: 1rem;
    
    /*width: 100%;
    height: auto;*/
    
}

.img-1 {
    width: 100%;
    height: auto;
    
    
}

@media screen and (min-width:768px) and (max-width:1024){
    .container{
        flex-direction: column;
    }
}

@media screen and (min-width:768px) and (max-width:1024){
    ul{
        flex-direction: column;
    }
}